/* 自定义样式 - 自定义样式会覆盖默认样式
 * 默认样式请参考: https://github.com/ai-chen2050/obsidian-wechat-public-platform/blob/master/src/style/wechatFormat.ts
*/
#nice {

}

/* 段落，下方未标注标签参数均同此处
 * 上边距 margin-top: 5px;
 * 下边距 margin-bottom: 5px;
 * 行高 line-height: 26px;
 * 词间距 word-spacing: 3px;
 * 字间距 letter-spacing: 3px;
 * 对齐 text-align: left;
 * 颜色 color: #3e3e3e;
 * 字体大小 font-size: 16px;
 * 首行缩进 text-indent: 2em;
 */
 #nice p {
  line-height: 1.8;
  color: #000000;
  font-size: 16px;
  margin: 10px 0px;
}

/* 一级标题 */
#nice h1 {
  text-align: left;
}

/* 一级标题内容 */
#nice h1 .content {

}

/* 一级标题修饰 请参考有实例的主题 */
#nice h1:after {

}

/* 二级标题 */
#nice h2 {
  margin: 80px 10px 40px 10px;
  text-align: left;
  font-weight: normal;
  color: #000000;
  font-size: 140%;
}

/* 二级标题内容 */
#nice h2 .content {


}

/* 二级标题修饰 请参考有实例的主题 */
#nice h2:after {

}
